# ========================================
# PINGUIN DAB - PRODUZIONE (.env)
# ========================================

# DISCORD CREDENTIALS
# (Il Token del Bot Principale che ascolta l'audio)
DISCORD_TOKEN=il_tuo_token_qui

# (Il Client ID e Secret per il login OAuth2 della Web Dashboard)
DISCORD_CLIENT_ID=il_tuo_client_id_qui
DISCORD_CLIENT_SECRET=il_tuo_client_secret_qui
# L'URI di reindirizzamento (assicurati di aggiungerlo sul portale Discord Developer)
DISCORD_REDIRECT_URI=http://tuosito.com/api/oauth/callback

# TOKENS DEI BOT CLONI (Separati da virgola)
AUX_TOKENS=token1,token2

# DATABASE MONGODB (Usa il tuo server esistente)
MONGO_URI=mongodb://user:password@il_tuo_ip:27017/admin
MONGO_DB_NAME=discord_dab

# FRONTEND
# Lasciare vuoto in produzione se le API servono la web app (percorso relativo)
FRONTEND_URL=
